/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.08.2014, 13:27:05
    Author     : Andr
*/
body{
    background: black;
   
}
button{
    font-size: 35px;
    width:  75px;
    alignment-baseline:  central;
    height: 75px;
}

div{
    margin:0 auto;
}

#result{
    font-size: 45px;
    font: bolder cubic-bezier;
    width: 250px;
    transition: width 2s;
     background: orange;
}
#result:hover{
    width: 98%;
}
#calc{
    text-align: center;
    width: 400px; 
}
#divResult{
    background: green;
    border: 2px outset greenyellow;
}


#controlPanel{
    height: 300px;;
    background: blue;
    padding: 5px;
    border: 4px ridge green ;
}

#numberButton{
    width: 59%;
    float: left;
    border-right: 3px tomato ridge;
}

#operation{
   width: 40%;
   float:left; 
}

#numberButton button{
    float: right
}